.DS_Store
out/
build/
bundle/AmigaGPT/AmigaGPT.info
bundle/AmigaGPT/AmigaGPT_OS4.info
bundle/AmigaGPT/AmigaGPT_MorphOS.info
bundle/AmigaGPT/catalogs
catalogs/*/*.catalog
catalogs/*/*.po~
src/AmigaGPT_cat.*
src/test/build
src/test/openai-key.h

# Super-linter outputs
super-linter-output
super-linter.log

# GitHub Actions leftovers
github_conf